<%= form_for(congress) do |f| %>
  <% if congress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(congress.errors.count, "error") %> prohibited this congress from being saved:</h2>

      <ul>
      <% congress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">

  <div class="col-xs-6">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="col-xs-6">
    <%= f.label :organizer %>
    <%= f.text_field :organizer %>
  </div>

  

  <div class="col-xs-6">
    <%= f.label :calendar_id %>
    <%= f.text_field :calendar_id %>
  </div>

  <div class="col-xs-6">
    <%= f.label :blog_id %>
    <%= f.text_field :blog_id %>
  </div>

  <div class="col-xs-6">
    <%= f.label :categories_id %>
    <%= f.text_field :categories_id %>
  </div>


  <div class="col-xs-6">
    <%= f.label "Direcci칩n de p치gina de Facebook" %>
    <%= f.text_field :facebook_dir %>
  </div>

  <div class="col-xs-6">
    <%= f.label "Direcci칩n de p치gina de Twitter" %>
    <%= f.text_field :twitter_dir %>
  </div>


  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
