<p id="notice"><%= notice %></p>

<h1>Congresses Index</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizer</th>
      <th>Responsible</th>
      <th>Calendar</th>
      <th>Blog</th>
      <th>Categories</th>
      <th>Administrators</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @congresses.each do |congress| %>
    <!--%# @users = User.where('id=?',congress.responsible_id).references(:user)%-->
    <% @user = User.find(congress.responsible_id)%>
    
      <tr>
        <td><%= congress.name %></td>
        <td><%= congress.organizer %></td>
        <td><%= @user.username %></td>
        <td><%= congress.calendar_id %></td>
        <td><%= congress.blog_id %></td>
        <td><%= congress.categories_id %></td>
        <td><%= congress.administrator_ids %></td>
        <td><%= link_to 'Show', congress %></td>
        <td><%= link_to 'Edit', edit_congress_path(congress) %></td>
        <td><%= link_to 'Destroy', congress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Congress', new_congress_path %>
