<p id="notice"><%= notice %></p>

<h1>Congresses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Organizer</th>
      <th>Responsible</th>
      <th>Calendar</th>
      <th>Blog</th>
      <th>Categories</th>
      <th>Administrators</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @congresses.each do |congress| %>
    <% @users = User.includes(:user => :name).where('user.user=?',0).references(:user)%>
      <tr>
        <td><%= congress.name %></td>
        <td><%= congress.organizer %></td>
        <td><%= @users.name %></td>
        <td><%= congress.calendar_id %></td>
        <td><%= congress.blog_id %></td>
        <td><%= congress.categories_id %></td>
        <td><%= congress.administrators_id %></td>
        <td><%= link_to 'Show', congress %></td>
        <td><%= link_to 'Edit', edit_congress_path(congress) %></td>
        <td><%= link_to 'Destroy', congress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Congress', new_congress_path %>
