<h1>Congresses Index</h1>

<table class="table">
  <thead>
    <tr scope="row">
      <th>Name</th>
      <th>Organizer</th>
      <th>Responsible</th>
      <th>Calendar</th>
      <th>Blog</th>
      <th>Categories</th>
      <th>Administrators</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @congresses.each do |congress| %>
    <!--%# @users = User.where('id=?',congress.responsible_id).references(:user)%-->
    <% @user = User.find(congress.responsible_id)%>
    
      <tr scope="row">
        <td><%= congress.name %></td>
        <td><%= congress.organizer %></td>
        <td><%= @user.username %></td>
        <td><%= congress.calendar_id %></td>
        <td><%= congress.blog_id %></td>
        <td><%= congress.categories_id %></td>
        <td><%= congress.administrator_ids %></td>
        <td><%= link_to 'Ir a', congress, class: 'btn btn-info' %></td>
        <td><%= link_to 'Editar', edit_congress_path(congress), class: 'btn btn-info' %></td>
        <td><%= link_to 'Eliminar', congress, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Congreso', new_congress_path, class: 'btn btn-default' %>
