<div class="container">
</br>

<div class="divider"></div>

</br>

<!-Links rapidos!>

<div class="container">

  <div class="col-6 col-md-4">
    <button data-toggle="collapse" data-target="#about" class= "btn btn-default btn-lg btn-block" style="color: white; background-color: rgba(0,63,102,0.4)"><i class="glyphicon glyphicon-blackboard" ></i> Acerca del congreso</button>
  </div>

  <div class="col-6 col-md-4">
    <%= link_to congress_categories_path(@congress), {class: "btn btn-default btn-lg btn-block", style: "color: white; background-color: rgba(0,63,102,0.6)"} do %>
    <i class="glyphicon glyphicon-list-alt" s></i> Temas y ponencias del Congreso
    <% end %>
  </div>

  <div class="col-6 col-md-4">
    <%= link_to congress_events_path(@congress), {class: "btn btn-default btn-lg btn-block", style: "color: white; background-color: rgba(0,63,102,1)"} do %>
    <i class="glyphicon glyphicon-calendar" ></i> Eventos próximos
    <% end %>
  </div>

  
</div>
<div class="Container">
  <div id="about" class="collapse">
    <div style="display:inline-block; vertical-align:top">
      <% if @congress.logo != nil %>
        <img src=<%=@congress.logo.to_s%> style="max-height: 100px ">
      <%end%>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
      </br>
      </br>
      <p><strong> <%= @congress.description %> </strong></p>
    </div>
  </div>
  
</div>

<!-Fin de Links rapidos!>

<div class="container">
  <div class="row">
    <div class="col-xs-6">

    </br>

    <h2>Pizarra informativa  
      <%if current_user.try(:admin?)%>
        <%= link_to new_congress_news_path(Congress.find(params[:id])), {class: "btn btn-info"} do %> 
          <i class="glyphicon glyphicon-plus"></i> Agregar
        <%end%>

    <%end%>
    
    </h2>
  </br>
  
    

    <%= render @congress.news %>



</div>
<div class="col-xs-6">

  </br>

  <h2>Próximos eventos
    <%if current_user.try(:admin?)%>
        <%= link_to new_congress_event_path(Congress.find(params[:id])), {class: "btn btn-info"} do %> 
          <i class="glyphicon glyphicon-plus"></i> Agregar
        <%end%>

    <%end%>
  </h2>

  </br>

    <%= render @congress.events %>

</div>
</div>
</div>
</br>
</div>