<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @congress.name %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @congress.organizer %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @congress.responsible_id %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @congress.calendar_id %>
</p>

<p>
  <strong>Blog:</strong>
  <%= @congress.blog_id %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @congress.categories_id %>
</p>

<p>
  <strong>Administrators:</strong>
  <%= @congress.administrator_ids %>
</p>

<%= link_to 'Edit', edit_congress_path(@congress) %> |
<%= link_to 'Back', congresses_path %>
