<div class="container">
  <h1 style="color: white">Registro de usuario</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>



    <div class="form ">

      <h3 class="" style="color: white">Información personal:</h3>

      <div class="form-group">
        <p class="form-label"> Correo institucional (ejemplo@ucr.ac.cr) </p>
        <%= f.email_field :email, autofocus: true, class: "form-control"   %>
      </div>


      <div class="form-group">
        <%= f.label "Nombre completo" %>
        <%= f.text_field :username, class: "form-control"   %>
      </div>

      <div class="form-group">
        <%= f.label "Carnet" %>
        <%= f.text_field :user_id, class: "form-control"   %>
      </div>



      <br>

      <h3>Definición de contraseña:</h3>

    <div class="form-group">
      <%= f.label "Contraseña" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres como mínimo)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control"   %>
    </div>

    <div class="form-group">
      <%= f.label "Confirmar contraseña" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"   %>
    </div>



      <br>

      <h3>Términos y condiciones:</h3>

    <div class="inline-form-group">
      <%= f.check_box :terms_of_service %>
      <%= f.label "Acepto los " %>
      <%= link_to " terminos y condiciones de uso", asset_url('terminos_de_uso.pdf'), target: "blank", style: "color: white; text-decoration: underline;"%>
      
    </div>

      <br>
    <div class="form-group">
      <%= f.submit "Registrarse", class: "btn btn-info"%>
    </div>
  </div>

<% end %>
<div class="pull-right"><%= render "devise/shared/links" %></div>

