<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @comment.author_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Replies:</strong>
  <%= @comment.replies_id %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @comment.likes_id %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @comment.dislikes_id %>
</p>

<p>
  <strong>Is important:</strong>
  <%= @comment.is_important %>
</p>

<p>
  <strong>Is inappropriate:</strong>
  <%= @comment.is_inappropriate %>
</p>

<p>
  <strong>Reviewed:</strong>
  <%= @comment.reviewed %>
</p>

<p>
  <strong>Denounced:</strong>
  <%= @comment.denounced %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
