<div class="container">
<h1>
  <%= @download.name %>
</h1>
</br>
<p>
  <%= @download.description %>
</p>

<iframe src=<%=@download.file.to_s %> style="width:100%; height:1200px;" frameborder="0" ></iframe>

</div>

<%if current_user.try(:admin?)%>
	<%= link_to 'Edit', edit_congress_download_path(@congress,@download) %> |
<%end%>
<%= link_to 'Volver', congress_downloads_path(@congress), class: "btn btn-info" %>
