<%= form_for [@congress, @category, @presentation] do |f| %>
  <% if presentation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
      <% presentation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Selección de autores:" %>
    <%= f.collection_check_boxes :author_ids, @users,'id','user_id',{multiple: true, class: 'checkbox inline'} %>
  </div>

  <div class="field">
    <%= f.label "Título" %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <% f.label :abstract %>
    <% f.text_field :abstract %>
  </div>



  <div class="field">
    <%= f.label "Seleccione el documento (PDF)" %>
    <%= f.file_field :pdf_file %>
    
  </div>

  <div class="field">
    <%= f.label :presenter_ids %>
    <%= f.collection_check_boxes :presenter_ids, @users,'id','user_id',{multiple: true, class: 'checkbox inline'} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
