<div class="container">
  <h1>Presentations</h1>

  <table>
    <thead>
      <tr>
        <th>Authors</th>
        <th>Title</th>
        <th>Abstract</th>
        <th>Uploader</th>
        <th>Document</th>
        <th>Status</th>
        <th>Discussion</th>
        <th>Presenters</th>
        <th>Likes</th>
        <th>Dislikes</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% Category.find(params[:category_id]).presentations.each do |presentation| %>
      <tr>
        <td><%= presentation.authors_id %></td>
        <td><%= presentation.title %></td>
        <td><%= presentation.abstract %></td>
        <td><%= presentation.uploader_id %></td>
        <td><%= presentation.document %></td>
        <td><%= presentation.status %></td>
        <td><%= presentation.discussion_id %></td>
        <td><%= presentation.presenters_id %></td>
        <td><%= presentation.likes_id %></td>
        <td><%= presentation.dislikes_id %></td>
        <td><%= link_to 'Show', congress_category_presentation_path(@congress, @category, presentation) %></td>
        <td><%= link_to 'Edit', edit_congress_category_presentation_path(@congress, @category, presentation) %></td>
        <td><%= button_to 'Destroy', congress_category_presentation_path(@congress, @category, presentation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Presentation', new_congress_category_presentation_path %>
</div>