<!-- Inicio de M odal-->

        <%= form_for([@congress, @category, @presentation, @comment], remote: true) do |f| %>
          <div class="modal fade" id="mynewcomment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Post</h4>
                </div>

                <div class="modal-body">

                  <%= f.hidden_field :parent_id %>
                  <% if @comment.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                      <ul>
                      <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                      </ul>
                    </div>
                  <% end %>

                  <form>

                  <div class="field">
                    <%= "Título" %>
                    <%= f.text_field :title, class: "form-control comment_title" %>
                  </div>

                  <div class="field">
                    <%= "Comentario" %>
                    <%= f.text_area :body, class: "form-control comment_content" %>
                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewpostclose">Cerrar</button>
                  <%= submit_tag "Comentar", class: "btn btn-primary" %>
                </div>

                </form>
                
              </div>
            </div>
          </div>
        <% end %>

      <!--Fin de M odal -->

<div class="container-fluid">

<h1 class="display-1"><%=@presentation.title%></h1>

  <div class="row">
    <div class="col-xs-9">
      
        <iframe src=<%=@presentation.pdf_file.to_s %> style="width:100%; height:1200px;" frameborder="0" ></iframe>
      
    </div>
    <div class="col-xs-3 pull-right" >


      <h2><%="Foro de discusion"%></h2>
      <button type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#mynewcomment" data-no-turbolink="true">
            Comentar
      </button>
      </br>
      </br>
      </br>
      <div id= "container_comments">
        <%= render @presentation.comments.where(ancestry: nil) %>
      </div>
      <%if @presentation.comments.count > 2%>
        <button type="button" class="btn btn-default btn-lg pull-right" data-toggle="modal" data-target="#mynewcomment" data-no-turbolink="true">
            Comentar
        </button>
       <%end%> 
    </div>
  </div>


<%if current_user.try(:admin?)%>
  <%= link_to 'Edit', edit_congress_category_presentation_path(@congress,@category ,@presentation) %> |
<%end%>
<%= link_to 'Volver', congress_category_path(@congress,@category) %>
</div>