<div class="modal fade" id="mynewcomment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<div class="container-fluid">

<h1 class="display-1"><%=@presentation.title%></h1>

  <div class="row">
    <div class="col-xs-9">
      
        <iframe src=<%=@presentation.pdf_file.to_s %> style="width:100%; height:1200px;" frameborder="0" ></iframe>
      
    </div>
    <div class="col-xs-3 pull-right" >


      <h2><%="Foro de discusion"%></h2>
      <%= link_to "Comentar",
              new_comment_congress_category_presentation_comment_path(
              @congress, @category, @presentation,
              parent_id: nil), :class => "btn btn-default btn-lg pull-right", :remote => true, "data-toggle" => "modal", "data-target" => "#mynewcomment", :parent_id => nil %>

      </br>
      </br>
      </br>
      <div id= "container_comments">
        <%= render @presentation.comments.where(ancestry: nil), locals: { congress: @congress, category: @category, presentation: @presentation } %>
      </div>
      <%if @presentation.comments.count > 2%>
        <%= link_to "Comentar",
              new_comment_congress_category_presentation_comment_path(
              @congress, @category, @presentation,
              parent_id: nil), :class => "btn btn-default btn-lg pull-right", :remote => true, "data-toggle" => "modal", "data-target" => "#mynewcomment", :parent_id => nil %>
       <%end%> 
    </div>
  </div>


<%if current_user.try(:admin?)%>
  <%= link_to 'Edit', edit_congress_category_presentation_path(@congress,@category ,@presentation) %> |
<%end%>
<%= link_to 'Volver', congress_category_path(@congress,@category) %>
</div>