<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-xs-9">
      <iframe src=<%=@presentation.pdf_file.to_s %> style="width:100%; height:700px;" frameborder="0"></iframe>
    </div>
    <div class="col-xs-3">
      <h2><%="Foro de discusion"%></h2>
      <textarea id="comment" class="form-control noresize" rows="2" placeholder="Ingrese su comentario" required></textarea>
      <%= link_to 'Agregar Comentario', new_congress_category_presentation_comment_path(@congress, @category, @presentation), class: "btn btn-info" %>
    </br></br>
    <% if @presentation.comments.any? %>
    <% @presentation.comments.each do |comment|%>

    <div class="media">
     <div class="media-left">
      <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%=User.find(comment.author_id).username%> <small><i>Publicado: <%=comment.created_at.strftime('%F %T') %></i></small></h4>
      <p><%=comment.body%></p>

      <% comment.replies.each do |reply| %>

        <div class="media">
        <div class="media-left">
          <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:45px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%=User.find(reply.author_id).username%> <small><i>Publicado: <%=reply.created_at.strftime('%F %T') %></i></small></h4>
          <p><%=reply.body%></p>
        </div>
      <%end%>

    </div>

    <%end%>

    <%end%>
    
  </div>
</div>
</div>
</div>


<%= link_to 'Edit', edit_congress_category_presentation_path(@congress,@category ,@presentation) %> |
<%= link_to 'Back', congress_category_presentations_path %>
