<div class="media">
    <div class="media-left">
        <img src="<%= image_url('calendar.png') %>" class="media-object" style="width:45px">
    </div>
    <div class="media-body">
        <h4 class="media-heading"><%=event.name%> <small><i>Fecha de Inicio: <%=event.start_date %></i></small></h4>
        <p><%=event.description%></p>
    </div>
    <%if current_user.try(:admin?)%>
       <div class="" style="float:right; display:inline-block">
              	<%= link_to congress_event_path(@congress, event), method: :delete, data: { confirm: '¿Seguro que desea eliminar este evento?' }, class: "btn btn-danger btn-xs" do %>
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="false"> Eliminar</span>
                <%end%>
        </div>
    <%end%>
</div>