<div class="container">
  <h1>Calendario de eventos</h1>

<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @months[@date.month-1]+" "+ @date.strftime("%Y")%>
    <%= link_to ">", date: @date.next_month %>
   </h2>
  <%= calendar @date do |date| %>
    <h4><%=  date.day %></h4>
    <%if @events.where('? between start_date and ending_date or ? = start_date', date, date) %>
      <ul>
        <% @events.where('? between start_date and ending_date or ? = start_date', date, date).each do |event|%>
          <li><h4> <%= link_to event.name, congress_event_path(@congress, event), class: "btn btn-default btn-sm", style: ["color: white; background-color: ", event.color].join %> </h4> </li>
        <%end%>
      </ul>
    <%end%>
  <%end%>

</div>
<%if current_user.try(:admin?)%>
  <%= link_to 'Nuevo Evento', new_congress_event_path, class: "btn btn-info" %>
<%end%>
</div>