<div class="container">

     <h1>Evento: <%= @event.name %></h1>
  

  <p>
    <strong>Descripción:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Fecha de inicio:</strong>
    <%= @event.start_date %>
  </p>

  <p>
    <strong>Fecha de cierre:</strong>
    <%= @event.ending_date %>
  </p>

  <p>
    <strong>Hora de inicio:</strong>
    <%= @event.start_time.strftime("%I:%M %P") %>
  </p>
  <%if current_user.try(:admin?)%>
    <%= link_to 'Editar evento', edit_congress_event_path(@congress, @event), class: "btn btn-info" %> |
  <%end%>
  <%= link_to 'Volver', congress_events_path(@congress), class: "btn btn-info" %>
</div>
