<div class="container">
  <p>
    <strong>Name:</strong>
    <%= @event.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @event.start_date %>
  </p>

  <p>
    <strong>Ending date:</strong>
    <%= @event.ending_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @event.start_time %>
  </p>

  <%= link_to 'Edit', edit_congress_event_path(@congress, @event) %> |
  <%= link_to 'Back', congress_events_path(@congress) %>
</div>
