<div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="MakaleYazariAdi"><%=news.title%></h4>
        <%if current_user.try(:admin?)%>
          <div class="dropdown" style="float:right; display:inline-block; color: white">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-cog"></span>
              <span class="sr-only">Toggle Dropdown</span>
              </button>
            <ul class="dropdown-menu" style="background-color: rgba(0,63,102,0.6)">
               <li><%= link_to edit_congress_news_path(@congress, news) do %>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"> Editar</span>
                  <%end%>
              </li>
              <li role="separator" class="divider"></li>
              <li><%= link_to congress_news_path(@congress, news), method: :delete, data: { confirm: '¿Seguro que desea eliminar esta noticia?' } do %>
                    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"> Eliminar</span>
                  <%end%>
              </li>
            </ul>
          </div>
        <%end%>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <div class="media" >
          <div class="media-top">
            <% ind = news.youtube_link.try(:index,'=')  %>
            <% if news.youtube_link != nil and news.youtube_link.include? "youtube.com" and ind != nil %>
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= news.youtube_link[ind+1.. -1] %>"></iframe>
              </div>
            <%else%>
              
                <img class="d-flex align-self-center mr-3 img-fluid" src=<%=news.picture %>>
              
            <%end%>
            <%lines = news.content.split(/(?<=[?.!])\n*/) %>
            <span ><p class="media-right media-top " style="color: black;"> <%=lines.first%></p></span>
          </div>
          <div class="media-body">
            <% if lines.length > 1%>
              <div id="content_<%=news.id%>" class="collapse" style="color: black;">
                <%= lines.drop(1).join %>
              </div>
              <div align="right">
                <button data-toggle="collapse" data-target="#content_<%=news.id%>" class= "btn btn-success">Ver más</button>
              </div>
            <%end%>
            <div class="clearfix"></div>
            <div class="btn-group" role="group" id="BegeniButonlari">
              <%= button_to like_congress_news_path(@congress, news), id: "liked-btn", class: "btn btn-default", style: " background-color: rgba(0,63,102,0.8)", :method => :put, remote: true do %>
              <!-- <button type="button" class="liked-btn"><span class="glyphicon glyphicon-thumbs-up"></span></button> -->
              <div>
                <span><i class="glyphicon glyphicon-thumbs-up"></i></span>
                <span id="count_<%= news.id %>" class='likes-count'> <%=news.get_upvotes.size %> </span>
              </div>
              <% end %>
            </div>                 
          </div>
        </div>
      </div>
    </div>