<div class="container">
  <h1>
    <%= @category.name %>
  </h1>

  <p>
    <%= @category.description %>
  </p>
  <%if current_user.try(:admin?)%>
    <%= link_to 'Agregar Ponencia', new_congress_category_presentation_path(params[:congress_id], @category), class: "btn btn-info" %>
  <%end%>
</br></br>
<% if @category.presentations.any? %>
<table class= "table">
  <thead>
    <tr class = "column">
     <th>Posición</th>
     <th>Título</th>
     <th>Comentarios</th>
     <th colspan="3"></th>
   </tr>
 </thead>

 <tbody>
  <% @category.presentations.order("position asc").each do |presentation| %>
  <tr>
    <td><%= presentation.position %></td>
    <td><%= presentation.title %></td>
    <td><%= presentation.comments.count %></td>
    <td><%= link_to 'Descargar', presentation.pdf_file.url(:original, false),download: '', class: "btn btn-success " %></td>
    <td><%= link_to 'Ir a', congress_category_presentation_path(@congress, @category, presentation), class: "btn btn-info" %></td>
    <%if current_user.try(:admin?)%>
          <td><%= link_to 'Editar', edit_congress_category_presentation_path(@congress, @category, presentation), class: "btn btn-info" %></td>
          <td><%= button_to 'Eliminar', congress_category_presentation_path(@congress, @category, presentation), method: :delete, data: { confirm: '¿Seguro que desea eliminar esta ponencia?' }, class: "btn btn-danger" %></td>
    <%end%>

  </tr>
  <% end %>
</tbody>
</table>


<%else%>
<strong>Aún no se han agregado ponencias a esta categoría</strong>
</br></br></br>
<%end%>

<%if current_user.try(:admin?)%>
  <%= link_to 'Editar', edit_congress_category_path(params[:congress_id], @category), class: "btn btn-info" %> |
<%end%>

<%= link_to 'Volver', congress_categories_path, class: "btn btn-info" %>
</div>