<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>Sistema de congresos FEUCR</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--

 -->


  </head>

  <body background="<%= image_url('login.jpg') %>">

    

    <div id="main-container" class="container">
    
      <p class="notice"><%= notice %></p>
      <p class="alert" ><%= alert %></p>

    </div>

      <div class="panel panel-default" style="text-align: center; background-color: rgba(88,102,105,0.50); color: black">
        <%= yield %>
      </div>
   
    
    
  </body>
</html>
