<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>Sistema de congresos FEUCR</title>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Font+Name">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

   
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--

 -->


  </head>

  <body background="<%= image_url('login.jpg') %>">

    

    <div id="main-container" class="container">
    
      <p class="notice"><%= notice %></p>
      <p class="alert" ><%= alert %></p>

    </div>

      <div class="panel panel-default" style="text-align: center; background-color: rgba(88,102,105,0.50); color: black">
        <%= yield %>
      </div>
   
    
    
  </body>


</html>


