<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>ForoFEUCR</title>
    <%= csrf_meta_tags %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/js/bootstrap-colorpicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Font+Name">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.1/css/bootstrap-colorpicker.css" />


    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--

 -->


  </head>

<body>
  <% if notice %>
    <div id="notice_wrapper", class=" pull-center alert alert-success">
      <p class="notice"><%= notice %></p>
    </div>

  <% elsif alert %>
    <div id="notice_wrapper">
      <p class="notice" ><%= alert %></p>
    </div>

  <% end %>

  <div style='min-height: 100%'>

    <nav class="navbar navbar-inverse navbar-top" style="min-height: 120px; vertical-align: middle; background-color: #3fa7df ">
      <div class="container-fluid" style=" background-color: #3fa7df ">
        <div class="navbar-header" style="background-color: #3fa7df ">
          <img src="<%=image_url("feucr.png")%>"  class="nabar-brand" style='max-width: 200px; max-height: 150px; padding: 5px; color: white; background-color: #3fa7df' alt="" >

        </div>
        <ul class="nav navbar-nav" style="padding-top: 15px; padding-bottom: 15px" >
          <li><a href="http://feucr.ucr.ac.cr/"  style= "color: white">FEUCR</a></li>
          <li><a href="http://www.ucr.ac.cr"  style= "color: white">UCR</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" style="padding-top: 15px; padding-bottom: 15px">
          <% if !user_signed_in? %>
          <li><%= link_to "Registrarse", new_user_registration_path, class: "pull-right", style: "color: white" %></li>
          <li><%= link_to "Iniciar sesión", new_user_session_path, style: "color: white" %></li>
          <%else%>
          <li><%= link_to "Cerrar sesión",  destroy_user_session_path, style: "color: white", :method => :delete %></li>
          <%end%>
        </ul>
      </div>
    </nav>
    


      <%= yield %>
    

  </div>

  </body>

<div id="footer" class="footer-distributed footer" style="background-color: #3fa7df ">


      <div class="footer-right"  style= "max-height: 80%; text-align: center">
  
          <a href= "http://overlapcr.com" style= "text-align: center;background-color: #3fa7df " ><i class="fa fa-globe"  style= "background-color: #3fa7df ; color: white"></i></a>


          <a href="mailto:contacto@overlapcr.com" style= "background-color: #3fa7df "><i class="fa fa-envelope-square"  style= "background-color: #3fa7df ; color: white"></i></a>
  
          <img src="<%=image_url("ovlptx.png")%>" style=" max-width: 80%" >
        

      </div>

        <div class="footer-right align-top"  style= "padding-right: 20px;max-height: 80%;text-align: center">
        <div class= "align-top">
          <img src="<%=image_url("feucr.png")%>" alt="FEUCR" style=" max-width:  110%" >
        </div>

       </div>

      <div class="footer-right align-top"  style= "padding-right: 20px;max-height: 80%;text-align: center">
        <div class= "align-top">
          <img src="<%=image_url("ucr.png")%>" alt="UCR" style=" max-width:  110%"  >
        </div>

       </div>
    


  <div class="footer-left" style="background-color: #3fa7df ">

    <p class="footer-links" >
      
      <a href="http://feucr.ucr.ac.cr/">FEUCR</a>
      ·
      <a href="http://www.ucr.ac.cr">UCR</a>
    </p>

    <p style='color: white'>Desarrollado para FEUCR por Overlap &copy; <%= Time.current.year %></p>
  </div>

  </div>


</html>

<script>
    $(function() {
        $('#congress_color').colorpicker();
    });
</script>