<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
	<title><%= @congress.name %></title>

	<link rel="shortcut icon" href=<%=@congress.favicon.to_s%> />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Font+Name">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ujs/1.2.2/rails.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">




<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->



	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag "application", 'data-turbolinks-track': 'reload' %>

</head>

<body style="background-color: <%=@congress.color%>">
	<% if notice %>
		<div id="notice_wrapper", class=" pull-center alert alert-success">
			<p class="notice"><%= notice %></p>
		</div>

	<% elsif alert %>
		<div id="notice_wrapper">
			<p class="notice" ><%= alert %></p>
		</div>

	<% end %>

	<div style='min-height: 100%'>

		<nav class="navbar navbar-inverse navbar-top align-middle" style="vertical-align: middle ;background-color: #3fa7df ">
			<div class="container-fluid" style="background-color: #3fa7df ">
				<div class="navbar-header" style="background-color: #3fa7df ">
					<img src=<%=@congress.logo.to_s%>  class="nabar-brand" style='max-width: 200px; max-height: 150px; padding: 5px; color: white; background-color: #3fa7df' alt=<%= @congress.name %> >

				</div>
				<ul class="nav navbar-nav align-middle" style="padding-top: 15px; padding-bottom: 15px" >
					<li><%= link_to "Inicio", congress_path(@congress), style: "color: white" %></li>
					<li><%= link_to "Ponencias", congress_categories_path(@congress), style: "color: white" %></li>
					<li><a href=<%= congress_events_path(@congress) %>  style= "color: white">Próximos eventos</a></li>
					<li><a href=<%= congress_downloads_path(@congress) %>  style= "color: white">Descargas</a></li>
					<%if current_user.try(:admin?)%>
						<li><a href=<%= congress_admin_path(@congress) %>  style= "color: white">Administración</a></li>
					<%end%>
					<li><a href="http://feucr.ucr.ac.cr/"  style= "color: white">FEUCR</a></li>
					<li><a href="http://www.ucr.ac.cr"  style= "color: white">UCR</a></li>
				</ul>
				<ul class="nav navbar-nav pull-right" style="padding-top: 15px; padding-bottom: 15px">
					<% if !user_signed_in? %>
					<li><%= link_to "Registrarse", new_user_registration_path, class: "pull-right", style: "color: white" %></li>
					<li><%= link_to "Iniciar sesión", new_user_session_path, style: "color: white" %></li>
					<%else%>
					<li><%= link_to "Cerrar sesión",  destroy_user_session_path, style: "color: white", :method => :delete %></li>
					<%end%>
				</ul>
			</div>
		</nav>
		
		<!-Banner!>

		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<%if @congress.banners.any? %>
					<div class="item active">
						<img src=<%=@congress.banners.first.image.to_s%> alt=<%=@congress.banners.first.description%>>
					</div>
					<% size = @congress.banners.size %>
					<% @congress.banners.last(size-1).each do |banner| %>
						<div class="item">
							<img src=<%=banner.image.to_s%> alt=<%=banner.description%>>
						</div>
					<%end%>
				<%else%>
					<div class="item active">
						<img src="http://overlapcr.com/media/feucr/bn1.jpg" alt="Congreso">
					</div>

					<div class="item">
						<img src="http://overlapcr.com/media/feucr/bn2.jpg" alt="Feucr">
					</div>

					<div class="item">
						<img src="http://overlapcr.com/media/feucr/bn3.jpg" alt="UCR">
					</div>
				<%end%>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>

		<!-Fin de Banner!>



			<%= yield %>
		

	</div>


</body>

<div id="footer" class="footer-distributed footer" style="background-color: #3fa7df ">

	<div class="footer-right"  style= "padding-top: 25px; background-color: #3fa7df ">


		<% if @congress.facebook_dir != nil && @congress.facebook_dir != ""%>
		<a href=<%= "http://"+@congress.facebook_dir.to_s %> style= "background-color: #3fa7df " ><i class="fa fa-facebook-square"  style= "background-color: #3fa7df ; color: white"></i></a>
		<%end%>
		<% if @congress.twitter_dir != nil && @congress.twitter_dir != ""%>
		<a href=<%= "http://"+@congress.twitter_dir.to_s %> style= "background-color: #3fa7df "><i class="fa fa-twitter"  style= "background-color: #3fa7df ; color: white"></i></a>
		<%end%>
		

	</div>

	<div class="footer-right align-top"  style= "padding-right: 20px;max-height: 80%;text-align: center">
        <div class= "align-top" style=" width:  100%">
          <img src="<%=image_url("feucr.png")%>"  alt="FEUCR" style=" max-width:  110%">
        </div>

       </div>

      <div class="footer-right align-top"  style= "padding-right: 20px;max-height: 80%;text-align: center">
        <div class= "align-top" style="width:  100%">
          <img src="<%=image_url("ucr.png")%>"  alt="UCR" style=" max-width:  110%">
        </div>

       </div>

	<div class="footer-left" style="background-color: #3fa7df ">

		<p class="footer-links" style="padding-top: 25px">
			<a href=<%= congress_path(@congress) %>>Inicio</a>
			·
			<%= link_to "Ponencias", congress_categories_path(@congress) %>
			·
			<a href=<%= congress_events_path(@congress) %>>Próximos eventos</a>
			·
			<a href=<%= congress_downloads_path(@congress) %>>Descargas</a>
			·
			<%if current_user.try(:admin?)%>
				<a href=<%= congress_admin_path(@congress) %>>Administración</a>
				·
			<%end%>	
			<a href="http://feucr.ucr.ac.cr/">FEUCR</a>
			·
			<a href="http://www.ucr.ac.cr">UCR</a>
		</p>

		<p style='color: white'><%=@congress.name%> &copy; <%= Time.current.year %></p>
	</div>

</div>

<script type="text/javascript">
	$('#c1').minicolors();
</script>

</html>