<!DOCTYPE html>
<meta charset="UTF-8">
<html>
  <head>
    <title>ForoFEUCR</title>
    <%= csrf_meta_tags %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--

 -->


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><%= Congress.find(@congress).name %></a>
        </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Inicio</a></li>
            <li><a href="#">Ponencias</a></li>
            <li><a href="#">Proximos eventos</a></li>
            <li><a href="#">Noticias</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
            <% if !user_signed_in? %>
              <li><%= link_to "Registrarse", new_user_registration_path, class: "pull-right" %></li>
              <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
            <%else%>
              <li><%= link_to "Cerrar sesión",  destroy_user_session_path, :method => :delete %></li>
            <%end%>
          </ul>
        </div>
    </nav>

    <div id="main-container" class="container">
    
      <p class="notice"><%= notice %></p>
      <p class="alert" ><%= alert %></p>

    <%= yield %>
  </body>
</html>
